.button {
  display: inline-block;
	width: 200px;
	height: 54px;
	text-align: center;
	text-decoration: none;
	line-height: 27px;
	outline: none;
	background-color: rgba(255, 255, 255, .2);
	border-radius: 4px;
	color: #000;
	box-shadow: 0 3px 3px rgba(0, 0, 0, .4), inset 0 1px 1px rgba(255, 255, 255, .7);
	text-shadow: 0px 1px 0px rgba(0, 0, 0, .6);
}
.button:hover {
	background-color: rgba(255, 255, 255, .5);
}

.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
