<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>exCall Beacon</title>


  <!-- <link rel="stylesheet" type="text/css" href="lib/d3-floorplan/d3.floorplan.css" /> -->

  <!-- <script type="text/javascript" src="lib/javascripts/bundle.js" id="auth-argment" data-team="<%= team %>" data-pass="<%= pass %>"></script> -->
  <script type="text/javascript" src="lib/javascripts/beacon/main.js"></script>

</head>

<body>
  <div id="root" width="100%" margin="0 auto">
    beacon
  </div>
</body>

</html>
