<!doctype html>
<html lang="jp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Board Game - 犯人は踊る</title>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="lib/javascripts/game.js" id="demo-argument" data-type="board-game-player" data-value="<%= value %>" data-reset="<%= reset %>" data-user="<%= user %>"></script>
  <link href="lib/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="lib/dist/css/flat-ui.min.css" rel="stylesheet">
</head>

<body>

  <!-- <body style="margin:0;padding:0px;overflow:hidden;position:relative;"> -->

  <body style="margin:0;padding:0px;overflow:hidden;position:relative;">
    <script src="lib/dist/js/vendor/jquery.min.js"></script>
    <script src="lib/dist/js/flat-ui.min.js"></script>
    <div id="wrap" style="height:100%;width:100%;">
      <!-- <canvas id="canvas" style:"display:block;"></canvas> -->
    </div>
  </body>

</html>
