<!doctype html>
<html lang="jp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sync Music - surround</title>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="lib/javascripts/demo.js" id="demo-argument" data-type="demo-alarm" data-value="<%= value %>" data-reset="<%= reset %>"></script>
  <link rel="stylesheet" href="lib/stylesheets/style1.css">
  <link rel="stylesheet" href="lib/stylesheets/button.css">
</head>

<body>
  <body background="lib/image/uxga_3.jpg">
  <!-- <h2 id="test">〜</h2> -->
  <h3><%= value %></h3>
  <h4 id="websocket_status"></h4>
  <h4 id="ntp_status"></h4>
  <div id="canvas_div"></div>
  <div id="menu_button"></div>
  <p></p>
  <div id="button_list"></div>
</body>

</html>
