<!doctype html>
<html lang="jp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Develop - 開発中</title>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="lib/javascripts/game.js" id="demo-argument" data-type="board-game" data-value="<%= value %>" data-reset="<%= reset %>" data-user="<%= user %>"></script>
  <link href="lib/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="lib/dist/css/flat-ui.min.css" rel="stylesheet">
</head>

<body>
  <body style="height:100%;margin:0;overflow:hidden;width:100%;background-color:rgba(255, 255, 255, 1.0)">
    <script src="lib/dist/js/vendor/jquery.min.js"></script>
    <script src="lib/dist/js/flat-ui.min.js"></script>
    <div id="wrap" style="height:100%;width:100%">
      <!-- <canvas id="canvas" style:"display:block;"></canvas> -->
    </div>
  </body>

</html>
