<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>test page</title>
  <script type="text/javascript" src="lib/javascripts/test.js" id="auth-argment" data-value="<%= value %>"></script>
  <link rel="stylesheet" href="lib/stylesheets/style.css" />
</head>

<body>
  <h2 id="test">〜</h2>
  <h3><%= value %></h3>
</body>

</html>
